@model Tp_TransportesRaffi.Models.Viaje

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Viaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Idcliente" class="control-label"></label>
                <select asp-for="Idcliente" class="form-control" asp-items="ViewBag.Idcliente"></select>
                <span asp-validation-for="Idcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idvehiculo" class="control-label"></label>
                <select asp-for="Idvehiculo" class="form-control" asp-items="ViewBag.Idvehiculo"></select>
                <span asp-validation-for="Idvehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraEntrega" class="control-label"></label>
                <input asp-for="FechaHoraEntrega" class="form-control" />
                <span asp-validation-for="FechaHoraEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomicilioEntrega" class="control-label"></label>
                <input asp-for="DomicilioEntrega" class="form-control" />
                <span asp-validation-for="DomicilioEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionPaquete" class="control-label"></label>
                <input asp-for="DescripcionPaquete" class="form-control" />
                <span asp-validation-for="DescripcionPaquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorViaje" class="control-label"></label>
                <input asp-for="ValorViaje" class="form-control" />
                <span asp-validation-for="ValorViaje" class="text-danger"></span>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info btn-outline-light" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
