@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h1 style=" " class="display-4">Bienvenido a Transportes Raffi</h1>
    <h2 style="margin-top:35px;">Calidad y rapidez al mejor precio</h2>
    <br />
    <br />
    <p><u><i>Trabajo Practico Final NT1</i></u></p>
</div>
